@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige: #F4F1DE;
  --orange: #E07A5F;
  --blue: #3D405B;
  --green: #81B29A;
  --yellow: #F2CC8F;
  --white: #FFF;
  --black: #000;
  --gray: #BEBEBE;
  --light-orange: #F1EDED;
}